@import "tailwindcss";

@theme {
  --color-eco-50: #f0fdf4;
  --color-eco-100: #dcfce7;
  --color-eco-200: #bbf7d0;
  --color-eco-300: #86efac;
  --color-eco-400: #4ade80;
  --color-eco-500: #22c55e;
  --color-eco-600: #16a34a;
  --color-eco-700: #15803d;
  --color-eco-800: #166534;
  --color-eco-900: #14532d;
  --color-eco-950: #052e16;
}

body {
  background-color: #f0fdf4;
  /* eco-50 */
  color: #14532d;
  /* eco-900 */
}